.placeholder
    color #999
    opacity 0
    transition all .2s ease-in-out

.placeholder-focus
    opacity 0

.placeholder-simple
    color #000
    opacity .35
    transition all .2s ease-in-out

.placeholder-simple-focus
    opacity .2

.placeholder-search
    color #000
    opacity 1
    transition all .2s ease-in-out

.placeholder-search-focus
    opacity .5

.select
    user-select none

    &.chosen
        & + .label
            top -7px
            font-size 12px
            color #999

    &.simple
        .select-arrow
            top 0
            margin-top 0
            width 55px
            height 100%
            background url('/img/icons/icon-select.png') center center no-repeat !important

        .select-value
            padding 0 45px 0 20px
            display block
            width 100%
            height 52px
            font-size 16px
            font-weight 500
            color #000
            background #f4f4f4
            border 1px solid #f4f4f4
            border-radius 4px

            &.error
                border-color #fb6a6f

        .select-value[placeholder]::-webkit-input-placeholder
            @extend .placeholder-simple

        .select-value[placeholder]::-moz-placeholder
            @extend .placeholder-simple

        .select-value[placeholder]:-moz-placeholder
            @extend .placeholder-simple

        .select-value[placeholder]:-ms-input-placeholder
            @extend .placeholder-simple

        .select-value[placeholder]:focus::-webkit-input-placeholder
            @extend .placeholder-simple-focus

        .select-value[placeholder]:focus::-moz-placeholder
            @extend .placeholder-simple-focus

        .select-value[placeholder]:focus:-moz-placeholder
            @extend .placeholder-simple-focus

        .select-value[placeholder]:focus:-ms-input-placeholder
            @extend .placeholder-simple-focus

    .select-arrow
        margin-top -5px
        width 13px
        height 10px
        background-image url('/img/icons/icon-select.png') !important

    .select-value
        padding-right 30px
        padding-left 0
        height 61px
        font-size 14px
        line-height 60px
        color #000
        background none
        border none
        border-bottom 1px solid #bfbfbf
        border-radius 0

    .select-dropdown
        padding 12px 0
        max-height 270px
        font-size 14px
        border-radius 2px
        box-shadow 0 4px 8px rgba(44, 39, 56, .04), 0 20px 20px rgba(44, 39, 56, .04)
        -webkit-overflow-scrolling touch

        &::-webkit-scrollbar
            width 22px

        &::-webkit-scrollbar-track
            background #fff

        &::-webkit-scrollbar-thumb
            background #f2f2f2
            border 9px solid #fff

        .checkbox
            margin-top 15px
            margin-bottom 15px
            margin-left 30px
            padding-right 30px
            display block
            font-size 16px
            font-weight 500

    .select-option
        padding 10px 25px
        font-size 14px
        font-weight 400
        color #000 !important
        border-radius 0
        transition all .2s ease-in-out

        &:hover
            background #eceff5

        &.active
            font-weight 700

    & + .label
        cursor pointer

.select-button
    cursor pointer

/*
      ___      .______   .______
     /   \     |   _  \  |   _
    /  ^  \    |  |_)  | |  |_)  |
   /  /_\  \   |   ___/  |   ___/
  /  _____  \  |  |      |  |
 /__/     \__\ | _|      | _|

      _______. _______  __       _______   ______ .___________.
     /       ||   ____||  |     |   ____| /      ||           |
    |   (----`|  |__   |  |     |  |__   |  ,----'`---|  |----`
     \   \    |   __|  |  |     |   __|  |  |         |  |
 .----)   |   |  |____ |  `----.|  |____ |  `----.    |  |
 |_______/    |_______||_______||_______| \______|    |__|


*/
.select
    position relative

.select.active .select-arrow
    transform rotate(180deg)

.select select
    display none !important

.select-button
    position relative
    cursor pointer

    .label--notinput
        cursor pointer

.select-arrow
    position absolute
    top 50%
    right 0
    margin-top -7px
    display block
    width 50px
    height 14px
    content ''
    background url('/img/icons/icon-arrow-select.svg') center center no-repeat
    background-size contain
    transition all .2s ease-in-out

.select-value
    padding 0 50px 0 15px
    display block
    overflow hidden
    width 100%
    height 44px
    line-height 42px
    white-space nowrap
    text-overflow ellipsis
    cursor pointer
    border 1px solid #ccc
    border-radius 4px
    -ms-text-overflow ellipsis

.select-dropdown
    position absolute
    z-index 50
    top 100%
    margin-top 10px
    padding 7px 0
    overflow auto
    width 100%
    max-height 300px
    background #fff
    border-radius 4px
    box-shadow 0 0 15px rgba(0, 0, 0, .1)

.select-option
    padding 7px 16px
    cursor pointer
    transition all .2s ease-in-out

.select-option:hover
    background #f5f5f5

.select-option.active
    font-weight 700

.select
    &.chosen
        & + .label
            top -7px
            font-size 12px
            color #999

    &.select-navigation
        .select-value
            padding-left 30px
            height 60px
            font-family 'Gilroy', sans-serif
            font-size 18px
            font-weight 700
            line-height 60px
            color #000
            background #f2f2f2
            border none
            border-radius 4px

        .select-option
            font-size 17px

    .select-arrow
        margin-top -5px
        width 13px
        height 10px
        background url('/img/icons/icon-select-white.png') center center no-repeat

    .select-value
        padding-left 0
        height 42px
        font-size 16px
        line-height 40px
        color #000
        background none
        border none
        border-bottom 2px solid #cbcbcb
        border-radius 0

    .select-dropdown
        padding 12px 0
        font-size 14px
        border-radius 2px
        box-shadow 0 4px 8px rgba(44, 39, 56, .04), 0 20px 20px rgba(44, 39, 56, .04)

    .select-option
        padding 10px 25px
        font-size 14px
        font-weight 400
        color #000 !important
        border-radius 0
        transition all .2s ease-in-out

        &:hover
            background #eceff5

        &.active
            font-weight 700
